@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100');

body, html {
  height: 100%;
  display: grid;
}

#company_title {
  font-family: 'IBM Plex Sans', sans-serif;
}

.btn {
  font-family: 'IBM Plex Sans', sans-serif;
}

.display-1 {
  font-family: 'IBM Plex Sans', sans-serif;
}

.cp-panels {
  margin: 10px;
}

#loading_div {
  margin: auto;
}
